streamlit
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq
langchain-litellm
litellm
python-dotenv
pypdf
pymupdf
chromadb
sentence-transformers
faiss-cpu
pandas
openai
ultralytics
tiktoken
pyyaml
bs4
arxiv
